       
       <h3>Two chained pipes</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>company</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" [(ngModel)]="termName" placeholder="filter by name"></td>
                        <td><input type="text" [(ngModel)]="termCompany" placeholder="filter by complany"></td>
                    </tr>                    
                    <tr *ngFor='let employee of employees | nameFilter:termName | companyFilter:termCompany'>
                        <td>{{ employee.name}}</td>
                        <td>{{ employee.company }}</td>
                    </tr>
                </tbody>
            </table>